# Supabase Configuration
EXPO_PUBLIC_SUPABASE_URL=YOUR_SUPABASE_URL
EXPO_PUBLIC_SUPABASE_ANON_KEY=YOUR_SUPABASE_ANON_KEY

# Admin Configuration
EXPO_PUBLIC_ADMIN_USERNAME=YOUR_ADMIN_USERNAME

# Matrix Configuration (for future use)
EXPO_PUBLIC_MATRIX_SERVER=YOUR_MATRIX_SERVER

# App Configuration
EXPO_PUBLIC_APP_NAME=YOUR_APP_NAME

# JWT used with Pinata IPFS uploads
EXPO_PUBLIC_PINATA_JWT=YOUR_PINATA_JWT
