CONTRACT_ID=marketplace.theunderground.testnet
LAKE_BUCKET=near-lake-data-testnet
START_BLOCK=0
STATE_PATH=.state/lake.json
DEDUPE_PATH=.state/dedupe.json
WAKU_BOOTSTRAP=enr:...,enr:...
WAKU_PUBLISHER_KEY=hex:...

